{% extends 'base.html' %}

{% block title %}
about
{% endblock %}

{% block body %}
<h1 class="p-3">About</h1>
<p class="lead">Welcome to this lightweight pet-project developed by <a class="text-white"
                                                                        href="linkedin.com/in/masko-andre">Andre
    Masko.</a></p>
<p class="lead">The purpose of this app is to help you keep track of your daily tasks and to make sure that you never
    miss an important deadline. I formatted it in a way that I use daily on paper notes.</p>
<p class="lead">With this app, you can easily create new tasks, mark them as complete, and delete them when they are no
    longer needed. Also, completed tasks deleted every day and tomorrow's tasks are going to today list, to help you
    stay organized.</p>
<p class="lead">This app is built using the Flask web framework, SQLite database, apscheduler library and is designed to be simple and easy to use. If you
    have any questions or feedback, please don't hesitate to get in touch with me.</p>
<p class="lead">Thank you for using this app!</p>
{% endblock %}