{% extends 'base.html' %}

{% block title %}
Add task
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="fs-2">ADD task</h1>
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-4 align-items-center justify-content-center">
        <form action="/add-task/{{ day }}" class="form-task" method="post">
<!--            <input class="task-input form-control form-control-lg" id="user" name="user" placeholder="User" type="text" required><br>-->
            <input class="task-input form-control form-control-lg" id="task" name="task" placeholder="Task" type="text" required><br>
            <input class="task-input form-control form-control-lg" id="time" name="time" placeholder="Time" type="text"><br>
            <input class="btn btn-lg btn-success d-block mx-auto w-100" type="submit"><br>
        </form>
    </div>
</div>
{% endblock %}
